.header {
  background-color: #f0a202;
}
.header__inner {
  padding: 16px 5%;
}
@media screen and (max-width: 325px) {
  .header {
    text-align: center;
  }
}
/* タブレット */
@media screen and (min-width: 326px) and (max-width: 864px) {
  .header {
    text-align: center;
  }
}
/* PC */
@media screen and (min-width: 865px) {
  .header {
  }
}
