.container {
  max-width: 1280px;
  margin: 0 auto 120px auto;
  padding: 40px 15px 0 15px;
}
.checkboxes__wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
  max-height: 186px;
  overflow: scroll;
}
.checkboxes__section__inner {
  padding: 30px 15px 0 15px;
  background-color: var(--primary-bg);
}
.guideButton {
  text-align: center;
}
.chart__wrapper {
  height: 900px;
  width: 900px;
  margin: auto;
}
.title__wrapper {
  text-align: center;
  padding: 30px 0;
}
.resetButton {
  padding-top: 15px;
}

/* スマートフォン */
@media screen and (max-width: 540px) {
  .title__wrapper {
    padding: 20px;
    font-size: 9px;
  }
  .chart__wrapper {
    height: 320px;
    width: 320px;
    margin: auto;
  }
  .checkboxes__wrapper {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    align-items: center;
    justify-content: space-between;
    max-height: 166px;
  }
}
/* タブレット */
@media screen and (min-width: 540px) and (max-width: 1000px) {
  .chart__wrapper {
    height: 540px;
    width: 540px;
    margin: auto;
  }
}
